

<section class="table-card__container" role="region" aria-label="Mortgage product 0">
    <div class="table-card__headerRow">
      <div class="table-card__headerInnerRow">
        <div class="table-card__headerRow__lenderIconReplace"><%=pd.LenderName%></div>
        <dl class="table-card__headerRow__item">
          <dt class="table-card__headerRow__itemText">Initial monthly payment</dt>
          <dd class="table-card__headerRow__itemNumber">£<%=pd.InitialMonthlyPayment%></dd>
        </dl>
      </div>
    </div>
    <input type="checkbox" class="read__more__state" aria-label="Read more information about product" id="<%=pd.ProductCode%>">
    <div class="table-card__contentRow read__more__wrap">
      <dl class="table-card__contentInnerRow">
        <div class="table-card__contentRow__item">
          <dt class="table-card__contentRow__itemText rate-type">Rate type</dt>
          <% if(args.input.MortgageClass.Variable === "No_Filter"){ %>
            <dd class="table-card__contentRow__itemNumber"><%= pd.MortgageClass%></dd>
         <% } else { %>
          <dd class="table-card__contentRow__itemNumber"><%=pd.InitialRatePeriodInWholeYears%> year <%=pd.MortgageClass.toLowerCase()%></dd>
         <% } %>

        </div>
        <div class="table-card__contentRow__item">
          <dt class="table-card__contentRow__itemText">Total fees</dt>
          <dd class="table-card__contentRow__itemNumber">£<%=pd.FeesTotal%></dd>
        </div>
        <div class="table-card__contentRow__item">
          <dt class="table-card__contentRow__itemText">Initial rate</dt>
          <dd class="table-card__contentRow__itemNumber"><%=pd.InitialPayRate%>%</dd>
        </div>
        <div class="table-card__contentRow__item">
          <dt class="table-card__contentRow__itemText">Follow on rate</dt>
          <dd class="table-card__contentRow__itemNumber"><%=pd.StandardVariableRate%>%</dd>
        </div>
        <div class="table-card__contentRow__item">
          <dt class="table-card__contentRow__itemText">APRC</dt>
          <dd class="table-card__contentRow__itemNumber"> <%=pd.AprLenders%>%</dd>
        </div><div class="table-card__contentRow__item"><dt>
          <dd class="table-card__contentRow__item__true-cost">
            <span class="initial-period-text">Initial period cost
              <div class="mortgage-comparison-card-tooltip-container" data-testid="Tooltip-container">
                <div class="main__questionMark questionMark mortgage-comparison-card-tooltip true-cost-tooltip" data-testid="Tooltip-button" role="button" aria-expanded="false" tabindex="0">
                  <img class="questionMark-img mortgage-comparison-card-tooltip-close" data-testid="Tooltip-iconClose" alt="open tooltip information" src="images/info.svg">
                </div>
                <div class="mortgage-comparison mortgage-comparison-card-tooltip-outer" data-testid="Tooltip-tipOuterContainer" hidden="">
                  <div class="mortgage-comparison-InnerContainer mortgage-comparison-card-tooltip-inner" data-testid="Tooltip-tipInnerContainer">
                    <div class="martgage-comparison-TextContainer mortgage-comparison-card-tooltip-text-container" data-testid="Tooltip-textContainer">What you pay during the initial period plus any lender’s fees

                    </div>
                  </div>
                </div>
              </div>
            </span>
          </dd>
        </dt>
        <dd class="table-card__contentRow__itemNumber true-cost-number">£<%=pd.TrueCostOverInitialPeriod%></dd>
      </div>
    </dl>
    <div id="<%=pd.ProductCode%>" class="table-card__expandInnerRow">
      <p>• <% if(args.input.MortgageType === "Buy_To_Let"){ %>
        Buy to Let 
      <% } else if(args.input.MortgageType === "Let_To_Buy") { %>
        Let to Buy 
      <% } else { %>
       Residential 
      <% } %> 
      <% if(args.input.PaymentMethod === "Repayment"){ %>
          capital repayment 
      <% } else { %>
          interest only 
      <% } %>
          mortgage. Standard variable rate <%=pd.StandardVariableRate%>% • Cash Back £<%= pd.Cashback %> • Total fees £<%=pd.FeesTotal%> • The maximum early repayment charge you could pay in the first <%=pd.InitialRatePeriodInWholeYears%> years would be £<%=pd.EarlyRepaymentChargePeriodSortField%></p><p>Your rate of <%=pd.InitialPayRate%>% will last for the first <%=pd.InitialRatePeriodMonths%> months of your mortgage (the 'initial period'). After that, you'll switch to the lender's standard variable rate (SVR). For <%=pd.LenderName%> that's <%=pd.StandardVariableRate%>%. Based on what you've told us, your loan to value (LTV) is <%= pd.ltv%>%. The total cost of this mortgage is £<%=pd.TrueCostFullTerm%>. That's the total cost you will pay over the whole term of the mortgage.
      </p>
    </div>
  </div>
  <div class="table-card__bottomRow">
    <div class="table-card__bottomInnerRow">

      <label for="<%=pd.ProductCode%>" class="read__more__trigger"> <!--0-->
        <span class="toggle__less__chevron"></span>
        <span class="toggle__more__chevron"></span>
      </label>

      <button class="table-card__bottomRow__button" type="button">
        <a class="table-card__bottomRow__buttonText" 
          href="https://form.typeform.com/to/IL4dmz9q?typeform-medium=embed-snippet" 
          data-mode="popup" 
          style="display:inline-block;text-decoration:none;" 
          data-size="100" 
          target="_blank"
          >
          Continue 
        </a> 

        
        <!--
        <script> 
          (function() { 
            var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })();
          </script>
        -->

      </button>
    </div>
  </div>
</section>